# core
fastapi==0.111.0
uvicorn[standard]==0.29.0
python-dotenv==1.0.1
pydantic-settings==2.2.1
structlog==24.1.0
web3==7.13.0


# database
sqlalchemy[asyncio]==2.0.29
asyncpg==0.29.0
psycopg2-binary==2.9.9

# cache
redis==5.0.4
fastapi-redis-cache==0.2.5